.info-container {
  position: fixed;
  z-index: 10;
  top: 8%;
  right: 10px;
  padding: 12px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.heading {
  font-weight: bold;
}
