.toolbar {
  position: absolute;
  display: flex;
  z-index: 10;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 50px;
  overflow: hidden;
  user-select: none;
  background-color: rgba(92, 91, 91, 0.678);
}

.display-panel {
  height: 250px;
  width: 150px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button {
  background-color: rgba(202, 198, 198, 0.589);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  box-shadow: 0px, 0px, 5px, 5px rgba(0, 0, 0, 30%);

  height: 50px;
  width: 50px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.842);
}

.button.active {
  background-color: rgb(174, 174, 243); /* Change to selected color */
}

.toolbar-icon {
  width: 36px;
  height: 36px;
  pointer-events: none;
}
